<%- include("./partials/_header") %>

<%- include("./partials/_navbar") %>

<main class="container-md">
    <div class="mt-5 row align-items-md-stretch">
        <div class="col-md-6">
            <div class="row align-items-center">
                <div class="p-5 border rounded-3 sub-div">
                    <p><strong>"Welcome to our Result Management System:</strong> Where Success Meets Simplicity! Experience hassle-free result tracking, real-time updates, and a user-friendly interface. Your academic journey just got smarter and smoother! Embrace success effortlessly."</p>
                </div>   
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-5 border rounded-3 sub-div">
                <h4 class="text-center my-4" style="text-decoration: underline;">LOGIN AS</h4>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="/teacher/login" class="btn btn-outline-danger">Teacher</a>
                    <a href="/student" class="btn btn-outline-danger">Student</a>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include("./partials/_footer") %>