<header class="header">
    <nav class="navbar navbar-dark shadow" style="background-color: #BE5A83;">
      <div class="container-fluid d-flex justify-content-between align-items-center">
          <h6 class="navbar-brand" style="font-weight: bold;">
            Result Management System
          </h6>
          <% if(url != "/" && url != "/teacher/login" ){ %>
            <a href="/" class="btn btn-warning" onclick="return confirm('Are you sure you want to logout?')">Logout</a>
          <% } %>
        </div>  
      </nav>
</header>