/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Sansita:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.sub-div{
    background-color:#FDF4F5;
    height:47vh;
}

.sub-div:hover{
    cursor: pointer;
    height: 48vh;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header .navbar-brand {
    margin: 0 auto;
}

#login-form{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btn-wd{
    width:8.3rem;
}

#create-form, #update-form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.empty{
    margin-top: 4rem;
    border-bottom: 2px solid black;
}

#search-form{
    width: 45vw;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card .card-body .attribute{
    font-weight: bold;
}

.result-div{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.oops{
    font-size: 9rem;
    font-weight: bold;
}